{% extends 'base.html' %}

{% block title %}
Print QR Code
{% endblock title %}

{% block style %}
<style>
    html,
    body {
        margin: 0;
        width: 21cm;
        height: 16.5cm;
    }

    .label {
        width: 37mm;
        height: 24mm;
        padding: 6px;
        margin-right: 4mm;
        margin-bottom: 3mm;
        text-align: center;
        /* border-style: solid; */
        float: left;
    }

    .qrcode {
        float: right;
    }

    p {
        font-size: 12px;
    }
</style>
{% endblock style %}

{% block content %}
<div id="label-list">
</div>
{% endblock content %}

{% block script %}
<script>
    var purchases = JSON.parse('{{purchases|safe}}');
    var j = 0;
    $.each(purchases, function (key, purchase) {
        for (let i = 0; i < purchase.qty; i++) {
            $('#label-list').append(`
                <div class="label">
                    <div class="qrcode" id="qrcode` + j + `"></div>
                    <p>`+ purchase.item_name + `</p>
                </div>
            `)
            $("#qrcode" + j).qrcode({ width: 75, height: 75, text: purchase.item });
            j++;
        }
    })
</script>
{% endblock script %}