{% extends 'base.html' %}

{% block title %}
Print Barcode
{% endblock title %}

{% block style %}
<style>
    @media print {
        @page {
            size: A4;
            margin-top: 7mm;
            margin-right: 6.5mm;
            margin-left: 5mm;
            margin-bottom: 100mm;
        }
    }

    .label {
        padding: 3mm;
        text-align: center;
        /* border-style: solid;
        border-width: 1px;
        border-radius: 5px; */
    }

    #label-list {
        display: grid;
        grid-template-columns: repeat(5, 37mm);
        grid-template-rows: repeat(6, 24mm);
        grid-column-gap: 3.5mm;
        grid-row-gap: 2mm;
    }

    p {
        font-size: 14px;
    }
</style>
{% endblock style %}

{% block content %}
<div id="label-list">
</div>
{% endblock content %}

{% block script %}
<script>
    var purchases = JSON.parse('{{purchases|safe}}');
    var j = 0;
    $.each(purchases, function (key, purchase) {
        for (let i = 0; i < purchase.qty; i++) {
            $('#label-list').append(`
                <div class="label">
                    <svg class="barcode" id="barcode` + j + `"></svg>
                    <p>`+ purchase.item_name + `</p>
                </div>
            `);
            JsBarcode("#barcode" + j, purchase.item, {
                width: 2,
                height: 20,
                displayValue: false
            });
            j++;
        }
    })
</script>
{% endblock script %}