{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Laporan</title>
  <link rel="stylesheet" href="{% static 'report/css/element.css' %}">
  <link rel="stylesheet" href="{% static 'report/css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'report/css/Chart.min.css' %}">
</head>

<body>
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="p-4 border-bottom bg-light">
            <h4 class="card-title mb-0">Laporan Jasa Service</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col text-center" style="border-right: 1px solid lightgray;">
                <h3 class="mb-0 font-weight-medium" id="cost"></h3>
                <h6 class="text-muted">Cost</h6>
              </div>
              <div class="col text-center" style="border-right: 1px solid lightgray;">
                <h3 class="mb-0 font-weight-medium" id="gross"></h3>
                <h6 class="text-muted">Gross Profit</h6>
              </div>
              <div class="col text-center">
                <h3 class="mb-0 font-weight-medium" id="net"></h3>
                <h6 class="text-muted">Net Profit</h6>
              </div>
            </div>
            <div class="chart-container mt-2" style="position: relative; height:auto; width:auto">
              <canvas id="areaChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{% static 'report/js/Chart.min.js' %}"></script>
  <script>
    function formatRupiah(angka, prefix) {
      var number_string = angka.toString().replace(/[^,\d]/g, '').toString(),
        split = number_string.split(','),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if (ribuan) {
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }

      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp' + rupiah : '');
    }

    var services = JSON.parse('{{services|safe}}');

    var cost = 0;
    var gross = 0;
    var net = 0;

    $.each(services, function (key, service) {
      cost += service.cost;
      gross += service.price;
      net += (service.price - service.cost)
    });

    $('#cost').text(formatRupiah(cost, 'Rp'))
    $('#gross').text(formatRupiah(gross, 'Rp'))
    $('#net').text(formatRupiah(net, 'Rp'));

    var servicesByDay = JSON.parse('{{servicesByDay|safe}}');
    var dates = [];
    var netList = [];
    var grossList = [];
    var costs = [];
    
    $.each(servicesByDay, function (key, service) {
      dates.push(service.date);
      netList.push(service.net);
      grossList.push(service.gross);
      costs.push(service.cost);
    });

    var ctx = document.getElementById('areaChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: dates,
        datasets: [
          {
            label: 'Cost',
            data: costs,
            backgroundColor: 'rgba(255, 206, 86, 0.5)',
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1,
          },
          {
            label: 'Gross',
            data: grossList,
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            fill: '-1',
            borderWidth: 1,
          },
          {
            label: 'Net',
            data: netList,
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
          },
        ]
      },
      options: {
        responsive: true,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              }
            }]
        },
        legend: {
          position: 'bottom',
        },
        tooltips: {
          callbacks: {
            label: function (t, d) {
              var xLabel = d.datasets[t.datasetIndex].label;
              var yLabel = t.yLabel >= 1000 ? 'Rp' + t.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") : 'Rp' + t.yLabel;
              return xLabel + ': ' + yLabel;
            }
          }
        },
        scales: {
          yAxes: [{
            ticks: {
              callback: function (value, index, values) {
                yLabel = value >= 1000 ? 'Rp' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") : 'Rp' + value;
                return yLabel;
              }
            }
          }],
          xAxes: [{
            ticks: {
              callback: function (value, index, values) {
                var day = value.substr(8, 2);
                var month = value.substr(5, 2);
                month = month.substr(0, 1) == '0' ? month.substr(1,1) : month;
                return day + '/' + month;
              }
            }
          }],
        },
      }
    });
  </script>
</body>

</html>